@model HTC.Models.HCTOrders

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HTCOrders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Schedule" class="control-label"></label>
                <input asp-for="Schedule" class="form-control" />
                <span asp-validation-for="Schedule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RevisedDate" class="control-label"></label>
                <input asp-for="RevisedDate" class="form-control" />
                <span asp-validation-for="RevisedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MRN" class="control-label"></label>
                <input asp-for="MRN" class="form-control" />
                <span asp-validation-for="MRN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Heightcm" class="control-label"></label>
                <input asp-for="Heightcm" class="form-control" />
                <span asp-validation-for="Heightcm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weightkg" class="control-label"></label>
                <input asp-for="Weightkg" class="form-control" />
                <span asp-validation-for="Weightkg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeightandWeightComment" class="control-label"></label>
                <input asp-for="HeightandWeightComment" class="form-control" />
                <span asp-validation-for="HeightandWeightComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ADJBWType" class="control-label"></label>
                <input asp-for="ADJBWType" class="form-control" />
                <span asp-validation-for="ADJBWType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Regimen" class="control-label"></label>
                <input asp-for="Regimen" class="form-control" />
                <span asp-validation-for="Regimen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IRBNumber" class="control-label"></label>
                <input asp-for="IRBNumber" class="form-control" />
                <span asp-validation-for="IRBNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransplantPhysician" class="control-label"></label>
                <input asp-for="TransplantPhysician" class="form-control" />
                <span asp-validation-for="TransplantPhysician" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NurseCoordinator" class="control-label"></label>
                <input asp-for="NurseCoordinator" class="form-control" />
                <span asp-validation-for="NurseCoordinator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MUDNurseCoordinator" class="control-label"></label>
                <input asp-for="MUDNurseCoordinator" class="form-control" />
                <span asp-validation-for="MUDNurseCoordinator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CMV" class="control-label"></label>
                <input asp-for="CMV" class="form-control" />
                <span asp-validation-for="CMV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NMDP" class="control-label"></label>
                <input asp-for="NMDP" class="form-control" />
                <span asp-validation-for="NMDP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ABO" class="control-label"></label>
                <input asp-for="ABO" class="form-control" />
                <span asp-validation-for="ABO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HLA_A_1" class="control-label"></label>
                <input asp-for="HLA_A_1" class="form-control" />
                <span asp-validation-for="HLA_A_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HLA_A_2" class="control-label"></label>
                <input asp-for="HLA_A_2" class="form-control" />
                <span asp-validation-for="HLA_A_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HLA_B_1" class="control-label"></label>
                <input asp-for="HLA_B_1" class="form-control" />
                <span asp-validation-for="HLA_B_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HLA_B_2" class="control-label"></label>
                <input asp-for="HLA_B_2" class="form-control" />
                <span asp-validation-for="HLA_B_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HLA_C_1" class="control-label"></label>
                <input asp-for="HLA_C_1" class="form-control" />
                <span asp-validation-for="HLA_C_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HLA_C_2" class="control-label"></label>
                <input asp-for="HLA_C_2" class="form-control" />
                <span asp-validation-for="HLA_C_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HLA_DRB1_1" class="control-label"></label>
                <input asp-for="HLA_DRB1_1" class="form-control" />
                <span asp-validation-for="HLA_DRB1_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HLA_DRB1_2" class="control-label"></label>
                <input asp-for="HLA_DRB1_2" class="form-control" />
                <span asp-validation-for="HLA_DRB1_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HLA_DQB1_1" class="control-label"></label>
                <input asp-for="HLA_DQB1_1" class="form-control" />
                <span asp-validation-for="HLA_DQB1_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HLA_DQB1_2" class="control-label"></label>
                <input asp-for="HLA_DQB1_2" class="form-control" />
                <span asp-validation-for="HLA_DQB1_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HLA_DPB1_1" class="control-label"></label>
                <input asp-for="HLA_DPB1_1" class="form-control" />
                <span asp-validation-for="HLA_DPB1_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HLA_DPB1_2" class="control-label"></label>
                <input asp-for="HLA_DPB1_2" class="form-control" />
                <span asp-validation-for="HLA_DPB1_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosisAcuteLymphocyticLeukemia" class="control-label"></label>
                <input asp-for="DiagnosisAcuteLymphocyticLeukemia" class="form-control" />
                <span asp-validation-for="DiagnosisAcuteLymphocyticLeukemia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosisAcuteMyelogenousLeukemia" class="control-label"></label>
                <input asp-for="DiagnosisAcuteMyelogenousLeukemia" class="form-control" />
                <span asp-validation-for="DiagnosisAcuteMyelogenousLeukemia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosisChronicLymphocyticLeukemia" class="control-label"></label>
                <input asp-for="DiagnosisChronicLymphocyticLeukemia" class="form-control" />
                <span asp-validation-for="DiagnosisChronicLymphocyticLeukemia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosisChronicMyelogenousLeukemia" class="control-label"></label>
                <input asp-for="DiagnosisChronicMyelogenousLeukemia" class="form-control" />
                <span asp-validation-for="DiagnosisChronicMyelogenousLeukemia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosisGermCell" class="control-label"></label>
                <input asp-for="DiagnosisGermCell" class="form-control" />
                <span asp-validation-for="DiagnosisGermCell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosisHodgkinDisease" class="control-label"></label>
                <input asp-for="DiagnosisHodgkinDisease" class="form-control" />
                <span asp-validation-for="DiagnosisHodgkinDisease" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosisMyelodysplasticSyndrome" class="control-label"></label>
                <input asp-for="DiagnosisMyelodysplasticSyndrome" class="form-control" />
                <span asp-validation-for="DiagnosisMyelodysplasticSyndrome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosisMultipleMyeloma" class="control-label"></label>
                <input asp-for="DiagnosisMultipleMyeloma" class="form-control" />
                <span asp-validation-for="DiagnosisMultipleMyeloma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosisNon_HodgkinLymphoma" class="control-label"></label>
                <input asp-for="DiagnosisNon_HodgkinLymphoma" class="form-control" />
                <span asp-validation-for="DiagnosisNon_HodgkinLymphoma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosisOther" class="control-label"></label>
                <input asp-for="DiagnosisOther" class="form-control" />
                <span asp-validation-for="DiagnosisOther" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferringMD" class="control-label"></label>
                <input asp-for="ReferringMD" class="form-control" />
                <span asp-validation-for="ReferringMD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorType" class="control-label"></label>
                <input asp-for="DonorType" class="form-control" />
                <span asp-validation-for="DonorType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorMRN_NMDP_URDCordNum" class="control-label"></label>
                <input asp-for="DonorMRN_NMDP_URDCordNum" class="form-control" />
                <span asp-validation-for="DonorMRN_NMDP_URDCordNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorCORDAKANum" class="control-label"></label>
                <input asp-for="DonorCORDAKANum" class="form-control" />
                <span asp-validation-for="DonorCORDAKANum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorName" class="control-label"></label>
                <input asp-for="DonorName" class="form-control" />
                <span asp-validation-for="DonorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorABO" class="control-label"></label>
                <input asp-for="DonorABO" class="form-control" />
                <span asp-validation-for="DonorABO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorCMV" class="control-label"></label>
                <input asp-for="DonorCMV" class="form-control" />
                <span asp-validation-for="DonorCMV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorDateOfBirth" class="control-label"></label>
                <input asp-for="DonorDateOfBirth" class="form-control" />
                <span asp-validation-for="DonorDateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorGender" class="control-label"></label>
                <input asp-for="DonorGender" class="form-control" />
                <span asp-validation-for="DonorGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorTNC" class="control-label"></label>
                <input asp-for="DonorTNC" class="form-control" />
                <span asp-validation-for="DonorTNC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorHLA_A_1" class="control-label"></label>
                <input asp-for="DonorHLA_A_1" class="form-control" />
                <span asp-validation-for="DonorHLA_A_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorHLA_A_2" class="control-label"></label>
                <input asp-for="DonorHLA_A_2" class="form-control" />
                <span asp-validation-for="DonorHLA_A_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorHLA_B_1" class="control-label"></label>
                <input asp-for="DonorHLA_B_1" class="form-control" />
                <span asp-validation-for="DonorHLA_B_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorHLA_B_2" class="control-label"></label>
                <input asp-for="DonorHLA_B_2" class="form-control" />
                <span asp-validation-for="DonorHLA_B_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorHLA_C_1" class="control-label"></label>
                <input asp-for="DonorHLA_C_1" class="form-control" />
                <span asp-validation-for="DonorHLA_C_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorHLA_C_2" class="control-label"></label>
                <input asp-for="DonorHLA_C_2" class="form-control" />
                <span asp-validation-for="DonorHLA_C_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorHLA_DRB1_1" class="control-label"></label>
                <input asp-for="DonorHLA_DRB1_1" class="form-control" />
                <span asp-validation-for="DonorHLA_DRB1_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorHLA_DRB1_2" class="control-label"></label>
                <input asp-for="DonorHLA_DRB1_2" class="form-control" />
                <span asp-validation-for="DonorHLA_DRB1_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorHLA_DQB1_1" class="control-label"></label>
                <input asp-for="DonorHLA_DQB1_1" class="form-control" />
                <span asp-validation-for="DonorHLA_DQB1_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorHLA_DQB1_2" class="control-label"></label>
                <input asp-for="DonorHLA_DQB1_2" class="form-control" />
                <span asp-validation-for="DonorHLA_DQB1_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorHLA_DPB1_1" class="control-label"></label>
                <input asp-for="DonorHLA_DPB1_1" class="form-control" />
                <span asp-validation-for="DonorHLA_DPB1_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonorHLA_DPB1_2" class="control-label"></label>
                <input asp-for="DonorHLA_DPB1_2" class="form-control" />
                <span asp-validation-for="DonorHLA_DPB1_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donor2URDCordNumber" class="control-label"></label>
                <input asp-for="Donor2URDCordNumber" class="form-control" />
                <span asp-validation-for="Donor2URDCordNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donor2CORDAKANumber" class="control-label"></label>
                <input asp-for="Donor2CORDAKANumber" class="form-control" />
                <span asp-validation-for="Donor2CORDAKANumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donor2ABO" class="control-label"></label>
                <input asp-for="Donor2ABO" class="form-control" />
                <span asp-validation-for="Donor2ABO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donor2CMV" class="control-label"></label>
                <input asp-for="Donor2CMV" class="form-control" />
                <span asp-validation-for="Donor2CMV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donor2DateOfBirth" class="control-label"></label>
                <input asp-for="Donor2DateOfBirth" class="form-control" />
                <span asp-validation-for="Donor2DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donor2Gender" class="control-label"></label>
                <input asp-for="Donor2Gender" class="form-control" />
                <span asp-validation-for="Donor2Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donor2TNC" class="control-label"></label>
                <input asp-for="Donor2TNC" class="form-control" />
                <span asp-validation-for="Donor2TNC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donor2HLA_A_1" class="control-label"></label>
                <input asp-for="Donor2HLA_A_1" class="form-control" />
                <span asp-validation-for="Donor2HLA_A_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donor2HLA_A_2" class="control-label"></label>
                <input asp-for="Donor2HLA_A_2" class="form-control" />
                <span asp-validation-for="Donor2HLA_A_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donor2HLA_B_1" class="control-label"></label>
                <input asp-for="Donor2HLA_B_1" class="form-control" />
                <span asp-validation-for="Donor2HLA_B_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donor2HLA_B_2" class="control-label"></label>
                <input asp-for="Donor2HLA_B_2" class="form-control" />
                <span asp-validation-for="Donor2HLA_B_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donor2HLA_C_1" class="control-label"></label>
                <input asp-for="Donor2HLA_C_1" class="form-control" />
                <span asp-validation-for="Donor2HLA_C_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donor2HLA_C_2" class="control-label"></label>
                <input asp-for="Donor2HLA_C_2" class="form-control" />
                <span asp-validation-for="Donor2HLA_C_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donor2HLA_DRB1_1" class="control-label"></label>
                <input asp-for="Donor2HLA_DRB1_1" class="form-control" />
                <span asp-validation-for="Donor2HLA_DRB1_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donor2HLA_DRB1_2" class="control-label"></label>
                <input asp-for="Donor2HLA_DRB1_2" class="form-control" />
                <span asp-validation-for="Donor2HLA_DRB1_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donor2HLA_DQB1_1" class="control-label"></label>
                <input asp-for="Donor2HLA_DQB1_1" class="form-control" />
                <span asp-validation-for="Donor2HLA_DQB1_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donor2HLA_DQB1_2" class="control-label"></label>
                <input asp-for="Donor2HLA_DQB1_2" class="form-control" />
                <span asp-validation-for="Donor2HLA_DQB1_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donor2HLA_DPB1_1" class="control-label"></label>
                <input asp-for="Donor2HLA_DPB1_1" class="form-control" />
                <span asp-validation-for="Donor2HLA_DPB1_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donor2HLA_DPB1_2" class="control-label"></label>
                <input asp-for="Donor2HLA_DPB1_2" class="form-control" />
                <span asp-validation-for="Donor2HLA_DPB1_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignedTo" class="control-label"></label>
                <input asp-for="AssignedTo" class="form-control" />
                <span asp-validation-for="AssignedTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartYear" class="control-label"></label>
                <input asp-for="StartYear" class="form-control" />
                <span asp-validation-for="StartYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
